upstream {{ name }}_server {
  server {{ upstream }} fail_timeout=0;
}

server {
    listen 80;
    server_name {{ server_name }};
    client_max_body_size 10M;

    access_log /var/log/nginx/{{ server_name }}.access.log;
    error_log /var/log/nginx/{{ server_name }}.error.log;

    location / {
      proxy_pass {{ protocol }}://{{ name }}_server;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $host;

      proxy_redirect off;
    }
}

